<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.system.dormitory.dormitory_system_android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity_main.Student.Activity_Student_Main"></activity>
        <activity android:name=".activity_main.Manager.Activity_Manager_Main"></activity>

        <activity android:name=".login.Activity_Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".login.Activity_Join" />
        <activity android:name=".content.BoardActivity" />
        <activity android:name=".content.NoticeActivity" />
        <activity android:name=".content.WritingActivity" />
        <activity android:name=".activity_main.Student.Activity_Student_penaltyPoint" />
        <activity android:name=".activity_main.Student.Activity_Student_outSleep" />
        <activity android:name=".activity_main.Manager.RoomCheck" />
        <activity android:name=".activity_main.Manager.Room" />

        <activity android:name=".activity_main.Manager.Activity_Manager_outSleep" />
        <activity android:name=".activity_main.Manager.Activity_Manager_outSleep_specific" />

    </application>
</manifest>